<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.lipu.dao.UserMapper">
  <resultMap id="BaseResultMap" type="me.lipu.entity.User">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    id, password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from _user
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from _user
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="me.lipu.entity.User">
    insert into _user (id, password)
    values (#{id,jdbcType=CHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.lipu.entity.User">
    insert into _user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.lipu.entity.User">
    update _user
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.lipu.entity.User">
    update _user
    set password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  
      <!-- ==============以下内容是根据自身业务扩展的内容======================= -->
  <select id="getAllUser" resultMap="BaseResultMap">
        select * from _User
  </select>
  
</mapper>